.section{
    h2,h1{
        text-align: center;
        padding: 5px 0px;
        color: yellow;
        font-weight: bolder;
        font-family: cursive;
        font-size: 1.8rem;
      
    
    }
   
    p{
        text-align: justify;
        padding: 0 5px;
    }

    .fixed{
        background-image: url('../../public/assets/imageFixed.jpg');
        background-position:left;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 180px;
        box-shadow: 10px 10px 10px;
    }

    .sectionLivresMeilleurs{
        
        .education,.sciences,.sante,.categories{
            
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
         
           

            .educationElement,.sciencesElement,.santeElement,.categoriesElement{
              
                width: 300px;
                margin: 20px 10px;
                box-shadow: 15px 15px 15px whitesmoke;
                padding-bottom: 20px;
            
              
                p{
                    text-align: justify;
                    padding: 0 10px;
                    font-family: cursive;
                }
                h4{
                    color: blueviolet;
                    text-align: center;
                    padding-bottom: 10px;
                }
                h6{
                   
                        
                        margin-top: 15px;
                }


                
            }
        }
    }
}

@media screen and (min-width:320px) and (max-width:772px) {
    .section {
    
            h2,
            h1 {
                
                color: red;
               
               
    
    
            }
    
          
    
            
            .sectionLivresMeilleurs {
    
                .education,
                .sciences,
                .sante {
    
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    flex-wrap: wrap;
    
    
                    .educationElement,
                    .sciencesElement,
                    .santeElement {
    
                      
    
    
                     
    
                        h4 {
                            color: blue;
                           
                        }
    
                        h6 {
    
    
                            margin-top: 15px;
                        }
    
    
    
                    }
                }
            }
        }
}
